.inputField {
  width: 100%;
  border-radius: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: grid;
  place-items: center;
  backdrop-filter: saturate(180%) blur(5px);
  padding-top: 14px;
  padding-bottom: 14px;
}

.inputField__light {
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.4);
}

.inputField__dark {
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.4);
}

.inputField__container {
  width: calc(100% - 20px);
}

.inputField__placeholder {
  color: grey;
  position: relative;
}

.inputField__placeholder__text {
  position: absolute;
  transition: all 369ms ease-in-out;
  top: 0;
  left: 0;
  border-radius: 4px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.inputField__required {
  position: absolute;
  left: auto;
  right: -11px;
  opacity: 0;
  top: -27px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  transition: all 369ms ease-in-out;
  border-radius: 4px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 12px;
}

.inputField__input {
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;
  background: none;
}

.inputField__input__light {
  color: black;
}

.inputField__input__dark {
  color: white;
}

.inputField__placeholder:focus-within .inputField__placeholder__text {
  font-size: 14px;
  backdrop-filter: saturate(180%) blur(5px);
  top: -27px;
  left: -11px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
}

.inputField__placeholder:focus-within .inputField__required {
  right: -11px;
  opacity: 1;
  font-size: 12px;
}

.inputField__placeholder__light:focus-within .inputField__placeholder__text,
.inputField__placeholder__light:focus-within .inputField__required,
.inputField__placeholder__dark:focus-within .inputField__placeholder__text,
.inputField__placeholder__dark:focus-within .inputField__required,
.inputField__valued__input__placeholder__light,
.inputField__valued__input__placeholder__dark {
  border-top: 1px solid rgba(200, 200, 200, 0.7);
  border-left: 1px solid rgba(200, 200, 200, 0.7);
  border-right: 1px solid rgba(200, 200, 200, 0.7);
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}

.inputField__placeholder__light:focus-within .inputField__placeholder__text,
.inputField__placeholder__dark:focus-within .inputField__placeholder__text {
  border-radius: 10px 50px 50px 10px;
}

.inputField__placeholder__light:focus-within .inputField__placeholder__text,
.inputField__placeholder__light:focus-within .inputField__required,
.inputField__valued__input__placeholder__light {
  background-color: white;
}

.inputField__placeholder__dark:focus-within .inputField__placeholder__text,
.inputField__placeholder__dark:focus-within .inputField__required,
.inputField__valued__input__placeholder__dark {
  background-color: black;
}

.inputField__valued__input__placeholder {
  font-size: 14px;
  top: -27px;
  left: -11px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
}
