.signup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup__title {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.signup__title__light {
  color: black;
}

.signup__title__dark {
  color: white;
}

.signup__password__hint {
  font-size: 11px;
  color: gray;
  backdrop-filter: blur(11px);
  padding: 2px 14px 2px 14px;
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;
}
