.authLayout__background {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.authLayout {
  height: 100vh;
  display: grid;
  place-items: center;
}

.authLayout__section {
  border-radius: 21px;
  width: calc(100% - 11px);
  max-width: 500px;
  padding: 11px;
  backdrop-filter: saturate(180%) blur(5px);
  transition: height 251ms ease-in-out;
}

.authLayout__section__light {
  border: 1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.5);
}

.authLayout__section__dark {
  border: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 500px) {
  .authLayout__section {
    width: calc(100% - 60px);
    padding: 21px;
  }
}
